@charset "UTF-8";
@media screen and (max-width: 500px) {
  /*全称セレクタ*/
  /* * * * * * * * *
*	base
* * * * * * * * */
  *, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 100%;
  }
  img {
    width: 100%;
    vertical-align: top;
  }
  body {
    font-size: 62.5%;
    color: #72645C;
  }
  strong {
    color: #FA3E63;
  }
  h2 {
    color: #fff;
    background: #fa3e63;
    font-size: 1.8em;
    padding: 10px 3px 8px 40px;
    margin: 2px 0 10px;
    border-radius: 8px;
  }
  .inner {
    width: 98%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* * * * * * * * *
*	header
* * * * * * * * */
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img {
    width: 160px;
    padding: 0;
    margin: 5px 0 0 5px;
  }
  header #a {
    background: #1E8941;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #a h1 {
    font-size: 1.8em;
    text-shadow: #005c0f 0 -1px 0;
    padding: 7px 0 7px 7px;
    color: #fff;
  }
  #h_btn {
    margin: 4px 7px 4px 5px;
    padding: 6px 10px 6px 5px;
    border: 1px #005c0f solid;
    border-radius: 5px 15px 15px 5px / 5px 15px 15px 5px;
  }
  #h_btn a {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: #2d8014 0 -1px 0;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
  }
  /* * * * * * * * *
*	スタートアップ
* * * * * * * * */
  section {
    background: #FFE8EA;
  }
  .p_case {
    background: #fff;
    padding: 10px 10px 98px;
    border-radius: 8px;
  }
  /* * * * * * * * *
*	about_licence
* * * * * * * * */
  span {
    color: #FA3E63;
    font-weight: bold;
  }
  dl.about_license {
    background: #ffe8ea;
    margin: -3px 0 0 0;
    padding: 5px 5px 10px;
  }
  dl.about_license dt {
    position: relative;
    background: #fa3f64;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 100%;
    padding: 5px 0 5px 5px;
    width: 150px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    margin: 0 0 0 -5px;
  }
  dl.about_license dd {
    background: #fff;
    margin: -32px 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  h3 {
    color: #3a3a3a;
    font-size: 1.8em;
    line-height: 125%;
    margin: 20px 0 10px;
    padding-top: 20px;
  }
  .li_img {
    width: 40%;
    float: right;
    margin: 0 5px 5px 10px;
  }
  /* * * * * * * * *
*	table
* * * * * * * * */
  table {
    width: 100%;
    line-height: 120%;
    margin: 10px 0;
    border-collapse: collapse;
  }
  table th {
    background: #ffe8ea;
    border: 1px solid #ccc;
    padding: 3px;
  }
  table td {
    background: #fff;
    text-align: right;
    border: 1px solid #ccc;
    padding: 3px;
  }
  tbody th {
    width: 15em;
  }
  #pp {
    color: #6e6e6e;
    margin-bottom: 20px;
    padding: 0;
    font-size: 0.5em;
  }
  /* * * * * * * * *
*	講座を探す
* * * * * * * * */
  #btimg {
    background: #fff;
  }
  /* * * * * * * * *
*	資格取得するには
* * * * * * * * */
  .wide_box {
    background: #fff;
    padding: 5px;
    margin: 5px 1.6% -10px;
  }
  .wide_box p {
    font-size: 1.3em;
    line-height: 165%;
    padding: 10px 3px 10px 5px;
  }
  .small_box {
    width: 46.8%;
    background: #fff;
    margin: 0 1.6% 5px;
  }
  .small_box img {
    width: auto;
    height: 35px;
    margin-top: -15px;
  }
  .small_box p {
    padding: 2px 3px 2px 10px;
    margin: 0 0 5px 3px;
  }
  .how_get {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  #search_img {
    margin: 15px 0 0 0;
  }
  /* * * * * * * * *
*	ギモンにお答えします
* * * * * * * * */
  #anser_img {
    margin-bottom: 0;
    padding-bottom: 0;
    vertical-align: top;
  }
  .anser {
    background: #F1E2BC;
  }
  .anser dl {
    border: 5px solid #f1e3bc;
    border-top: 0;
    margin: 0;
    padding: 0;
  }
  .anser dl dt {
    font-weight: bold;
    background: #fff;
    color: #895623;
    font-size: 1em;
    border-bottom: 2px solid #f1e3bc;
    padding: 10px 5px 10px 10px;
  }
  .anser dl dd {
    background: #fff;
    padding: 10px 7px 10px 12px;
    margin-bottom: 5px;
    line-height: 165%;
  }
  /* * * * * * * * *
*	メリット
* * * * * * * * */
  .merit dl dt img {
    width: auto;
    display: inline-block;
    width: 8%;
  }
  .merit dl {
    margin-top: -10px;
    padding-bottom: 10px;
    background: #94d56c;
  }
  .merit dl dt {
    margin: 10px 7px 0 13px;
    font-size: 1.8em;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
  }
  .merit dl dt span {
    display: inline-block;
    margin: 5px 0 0 1.2%;
    width: 88.8%;
  }
  .merit dl dd {
    margin: 0 7px 0 13px;
    padding: 2px 6px 6px 10px;
    font-size: 1.3em;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
  #mb_10 {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=mobile.css.map */